img {
  width: 70px;
  height: 70px;
}
.weatherCard {
  display: flex;
  flex-direction: column;
  gap: 10px;
  gap: 10px 20px; /* row-gap column gap */
  row-gap: 10px;
  column-gap: 20px;
  width: 30%;
  border: 2px solid salmon;
  background-color: salmon;
}

div.weatherCard {
  margin: 10px;
  column-count: 3;
}
